@page
@model Snackis.Pages.Forums
@{
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Forum Categories</h1>
            <div class="list-group">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    @foreach (var category in Model.Categories)
                    {
                        <a href="@Url.Page("/ForumCategory", new { id = category.Id })" class="list-group-item list-group-item-action">
                            <h4 class="mb-1">@category.Name</h4>
                            <p class="mb-1">@category.Description</p>
                        </a>
                    }
                }
                else
                {
                    <p class="text-muted">No categories found.</p>
                }
            </div>
        </div>
    </div>
</div>
